

  <div class="row">
        <%= header3("artikeledition", @edition, @topic, true) %>
  </div>

  <%= build_medialist2(@edition.edition_arcticles.order(:sequence), "edition_arcticles", "artikel") %>
  