  <!--<div class="row">-->
  <!--  <action>-->
  <!--  <%= header2("ArtikelEdition", @edition, @topic, "Artikel von Ausgabe", false) %>-->
  <!--  <%= action_buttons2("ArtikelEdition", @edition, nil) %>-->
  <!--  </action> -->
  <!--</div>-->

  <div class="row">
        <%= header2("ArtikelEdition", @edition, @topic, "Artikel von " + @edition.mobject.name + " Ausgabe " + @edition.name + " <span class='badge'>" + @editionas.to_s + "</span>", true) %>
  </div>

  <%= build_medialist2(@edition.edition_arcticles, "edition_arcticles", "Artikel") %>
  