  <!--<div class="row">-->
  <!--  <action>-->
  <!--  <%= action_buttons2("Editionen", @edition, @topic) %>-->
  <!--  </action>-->
  <!--</div>-->

  <div class="row">
    <header>
    <%= header2("Editionen", @edition, @topic, @edition.mobject.name + " " + @edition.name, true) %>
    </header>
  </div>

  <div class="row">
    <div class="panel-body">
        <%=  build_edition(@edition) %>
    </div>
  </div>