  <div class="row">
    <header>
    <%= header("Meine Abfragen", true) %>
    </header>
  </div>
  <div class="row">
      <div class='col-xs-12'>
          <div class="panel-body">
            <%= build_medialist2(@searches, "searches", nil) %>
          </div>
      </div>
  </div>

