<div class="owl-show">
<%  u = User.all %>
<%  u.each do |m| %>
<%    if m.avatar_file_name %>
        <div align=center> 
          <%= build_medialist2(User.where('id=?',m), "user", nil) %>
        </div>
<%    end %>
<%  end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.owl-show').owlCarousel({  
    
    itemsCustom : false,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [980,3],
    itemsTablet: [768,2],
    itemsTabletSmall: false,
    itemsMobile : [479,1],
    autoPlay: true
    
  });
});
</script>