<div class="row nopadding">
    <div class="col-xs-10">
            <%= navigate("Privatpersonen", User.find(1)) %>
    </div>
    <div class="col-xs-2">
        <%= navigate("Privatpersonen", User.find(1)) %>
    </div>
</div>