<%= link_to(user_path(:id => 1, :topic => "Info"), title: "hello", 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'class' => 'new-tooltip' ) do %>
<%  content_tag(:i, nil, class:"btn btn-primary glyphicon glyphicon-info-sign", ) %>
<% end %>

<a href="#" data-toggle="tooltip" data-placement="bottom" title="hello" data-original-title="Tooltip on bottom" class="red-tooltip">Tooltip on bottom</a>

<%= link_to (user_path(:id => 1, :topic => "Info")), title: 'View Agent Data', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'class' => 'red-tooltip' do %>
  <span class="btn btn-info glyphicon glyphicon-search"></span>
<% end %>

<script>
$(document).ready(function(){
    $("a").tooltip();
});</script>