
  <div class="row">
      <%= header((I18n.t :rating) + " " + @idea.header, true) %>
  </div>
  
  <%= action_buttons2("ideenbewertung", @idea, nil) %>

  <%= build_medialist2(@idea.mobject.crits, "crits", @idea.id) %>

<script>
  document.addEventListener("turbolinks:load", function() {initMap()})
</script>
