<div class="container">
  <div class="jumbotron">
    <h1><p>Hello <%= @resource.email %>!</p></h1>
    <p>We're contacting you to notify you that your password has been changed.</p>
    <br>
    <% render "devise/shared/links" %>
  </div>
</div>